/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 jun. 2022, 19:30:50
    Author     : lyonc
*/

body{
  background: rgb(34,193,195);
      background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(184,45,253,1) 100%);
}